.predict{
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}
.predict h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.predict .form-group {
    width: 70%;
    margin: 10px auto;
}